.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

.about .left p{
    margin: 1.2rem 0;
}

.about .right{
    max-width: 700px;
}

.right .img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img{
    max-width: 1300%;
    border: 1px solid #333;
    position: relative;
    right: 250px;
}

@media screen and (max-width: 640px){
    .right .img{
        max-width: 1000%;
        border: 1px solid #333;
        position: center;
    }
}

.right .top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
    position: relative;
    right: 34px;
}

@media screen and (max-width: 640px){
    .right .top{
        /*grid-column: 1 / span 8;
        grid-row: 1;
        padding-top: 20%;
        z-index: 6;
        position: relative;
        right: 1000px;*/

        grid-column: 4 / -3;
        grid-row: 1;
        z-index: 6;
        position: relative;
        right: 50px;
    }
}

.right .bottom{
    grid-column: 4 / -2;
    grid-row: 1;
    z-index: 5;
    right: 30px;
}
@media screen and (max-width: 640px){
    .right .bottom{
        grid-column: 4 / -2;
        grid-row: 1;
        z-index: 5;
        left: 30px;
    }
}

@media screen and (max-width: 640px){
    .right .bottom{
        grid-column: 4 / -2;
        grid-row: 1;
        z-index: 5;
        position: relative;
        left: 70px;
    }
}